.header {
  display: flex;
  align-items: stretch;
  padding: 0rem;
  width: 100%;
  flex-direction: row;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  flex-direction: row;
}

.box > div {
  width: 46%;
  margin: 1rem;
  padding: 1rem;
}

html, body {
  font-family: "Press Start 2P";
  font-size: 11px;
}

p {
  font-size: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
}

dt {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

dl {
  padding-right: 5rem;
}

h1 {
  padding-left: 1rem;
}
