html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

.nes-container {
  position: relative;
  padding: 1.5rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: 4px;
}
