@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  font-family: "Press Start 2P";
  font-size: 11px;
  color: white;
  background-color: #24334E;
}

.top-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1rem;
}

.top-box > div {
  border-style: ridge;
  border-color: #B46FC5;
  padding: 1rem;
  margin: 1rem;
  background: rgb(216, 191, 216);
  background: rgba(216, 191, 216, 0.2);
}

.bottom-box {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-left: 1rem;
}

.bottom-box > div {
  border-style: ridge;
  border-color: #B46FC5;
  margin: 1rem;
  padding: 1rem;
  background: rgb(216, 191, 216);
  background: rgba(216, 191, 216, 0.3);
}

button {
  font-family: "Press Start 2P";
  background-color: #003F63;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

button:active {
  background: #F26BAA;
}

@media only screen and (min-width:320px) {
  .bottom-box > div {
    width: 100%;
  }
  .top-box > div {
    width: 100%;
  }
}

@media only screen and (min-width:481px) {
  .bottom-box > div {
    width: 100%;
  }
  .top-box > div {
    width: 100%;
  }
}

@media only screen and (min-width:641px) {
  .bottom-box > div {
    width: 100%;
  }
  .top-box > div {
    width: 100%;
  }
}

@media only screen and (max-width:961px) {
  .bottom-box {
    flex-wrap: wrap;
  }
  .top-box {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width:961px) {
  .bottom-box > div {
    width: 100%;
  }
  .top-box > div {
    width: 100%;
  }
}

@media only screen and (min-width:1025px) {
  .bottom-box > div {
    width: 100%;
  }
  .top-box > div {
    width: 100%;
  }
}

@media only screen and (min-width:1281px) {
  .bottom-box > div {
    width: 29.5%;
  }
  .top-box > div {
    width: 29.5%;
  }
}
