@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body, button {
  font-family: "Press Start 2P";
  font-size: 11px;
  color: white;
  background-image: url('../src/images/city.png');
  background-repeat:no-repeat;
  background-size:cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.top-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.top-box > div {
  border-style: ridge;
  border-color: #F26BAA;
  width: 46%;
  margin: 1rem;
  padding: 1rem;
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.5);
}

.bottom-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.bottom-box > div {
  border-style: ridge;
  border-color: #F26BAA;
  width: 29.48%;
  margin: 1rem;
  padding: 1rem;
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.5);
}

button {
  background-color: #003F63;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
