div.slide-holder {
  height: 300px;
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h4 {
  text-align: center;
  padding-bottom: 1rem;
}

div.slideshow-controller {
  text-align: center;
}
